*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F2F2F2;

  width: 100%;
  height: 100vh;

  position: relative;

  display: flex;
  justify-content: center;

  font-family: "League Spartan";
}

.top-shape__container{
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.bottom-shape__container{
  position: absolute;  
  
  right: 0;
  bottom: 0;  
  z-index: -1;
}

.social{
  display: flex;
  flex-direction: column;  
  justify-content: center;  
  max-width: 1120px;
  padding: 50px;
}

.social__first-half{
  display: flex;
}

.social__details{ 
  flex-grow: 1;  
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social__primary-text{
  font-weight: 700;
  font-size: 56px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #512051;
}

.social__secondary-text{
  max-width: 780px;

  font-weight: 500;
  font-size: 19px;
  line-height: 25px;  
  letter-spacing: -0.633333px;  
  color: #927B91;
}

.social__ratings{
  width: 100%;
  height: 100%;
 
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-left: 80px;
}

.ratings-box{
  flex-grow: 3;

  max-width: 545px;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  gap: 16px;
}

.rating{ 
  height: 56px;
  width: 445px;
  padding: 20px;    
  padding-left: 32px;
  background: #eae4ea;
  border-radius: 8px;

  display: flex;    
  gap: 33px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #512051;
}

.rating-1{
  align-self: flex-start;
}
.rating-2{
  align-self: center;
}
.rating-3{
  align-self: flex-end;
}

.rating__icon{
  object-fit: contain;
}

.social__reviews{
  margin-top: 71px;
 
  height: 266px;
  display: flex;
  gap: 30px;
}

.reviews__card{
  border-radius: 8px;
  background: #512051;
  width: 350px;
  height: 234px;
  
  padding: 0 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  gap:32px;
}

.card__user{
  display: flex;
  align-items: center;
  gap: 23px;
}

.card__image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card__user-info{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card__user-name{
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #FFFFFF;
}

.card__user-status{
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  color: #EE69A4;
}

.card__comment{
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.303571px;
  color: #FFFFFF;
}

.reviews__card-1{
  align-self: flex-start;
}

.reviews__card-2{
  align-self: center;
}

.reviews__card-3{
  align-self: flex-end;
}

@media screen and (max-width: 1121px) {
  body{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .social{    
    padding: 60px 0;
    width: 100%;
    height: 100%;    
  }
  .social__first-half{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .social__details{ 
    gap: 17px;
  }  
  .social__secondary-text{
    max-width: 327px;
  }
  .social__ratings{   
    margin-top: 39px; 
    padding: 0;
  }
  .ratings-box{
    max-width: unset;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .rating{
    align-self: unset;
    height: unset;
    max-width: 327px;
    width: 100%;
    flex-direction: column;
    gap: 15px;
  }

  .social__reviews{
    margin-top: 49px;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }  
  .reviews__card{
    align-self: unset;
  }

}

@media screen and (max-width: 400px) {
  .bottom-shape__container{
    display: none;
  }
  .top-shape__container{    
    display: none;
  }
}